<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   %module_name%
 * @author    Webkul
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

namespace %namespace%;

use Magento\Framework\Data\OptionSourceInterface;

/**
 * Source Options.
 */
class Options implements OptionSourceInterface
{
    
    /**
     * elements type
     */
    public const YES = 1;
    public const NO = 0;

    /**
     * Get element type.
     *
     * @return array
     */
    public function toOptionArray()
    {
        $options = [
            ['value' => self::NO, 'label' => __('No')],
            ['value' => self::YES, 'label' => __('Yes')]
        ];
        return $options;
    }
}
