<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    %module_name%
 * @author     Webkul
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
namespace %namespace%;

use Magento\Framework\View\Element\Template\Context;

class %class% extends \Magento\Framework\View\Element\Template
{
    /**
     * Construct function
     *
     * @param Context $context
     * @param array $data
     */
    public function __construct(
        Context $context,
        array $data = []
    ) {
        parent::__construct($context, $data);
    }

    public function getHelloMessage()
    {
        return 'Hello from %class% block';
    }
}
