{
    "name": "%vendor%/module-%composerName%",
    "description": "",
    "type": "magento2-module",
    "license": "proprietary",
    "authors": [
        {
            "name": "Webkul"
        }
    ],
    "require": {},
    "autoload": {
        "files": [
            "registration.php"
        ],
        "psr-4": {
            "%moduleName%": ""
        }
    }
}