<?php
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    %module_name%
 * @author     Webkul
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
\Magento\Framework\Component\ComponentRegistrar::register(
    \Magento\Framework\Component\ComponentRegistrar::MODULE,
    '%moduleName%',
    __DIR__
);
