/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    %moduleName%
 * @author     Webkul
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
define(
    [
        'Magento_Checkout/js/view/payment/default'
    ],
    function (Component) {
        'use strict';

        return Component.extend({
            defaults: {
                template: '%moduleName%/payment/%paymentCode%'
            }
        });
    }
);